@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background-color: #161B1D;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

@media only screen and (min-width: 762px) {
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  
  background: linear-gradient(#191f33, #00aaff);
}
}